# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directories
env/
venv/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# model
best.pth.tar
ind2word.pkl
*.jpg
*.jpeg
*.png
*.bmp